n8n/workflows/Extract Prices.json
{
  "name": "Extract Prices",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that extracts crop prices from Arabic text (transcripts, articles, or reports).\n\nOnly extract prices for the following crops:\n- شعير عريض → \"broad_barely_rice\"\n- شعير رفيع → \"small_barely_rice\"\n- أرز أبيض عريض → \"broad_white_rice\"\n- أرز أبيض رفيع → \"small_white_rice\"\n\nOutput a single JSON object with this structure:\n\n{\n  \"confidence\": <number 0-100>,\n  \"has_prices\": <true|false>,\n  \"data\": [\n    {\n      \"type\": \"<crop type>\",\n      \"min_price\": <number>,\n      \"max_price\": <number>\n    }\n  ]\n}\n\nNormalization rules:\n- Ignore irrelevant numbers (not linked to crops).\n- Valid crop prices are expected to be between 8,000 and 50,000 EGP per ton.\n- If a number is much smaller (e.g. 13, 250, 2200), multiply by powers of 10 until it falls inside the 8,000–50,000 range.\n- If a number is much larger (e.g. 200000, 2000000), divide by powers of 10 until it falls inside the 8,000–50,000 range.\n- Always adjust numbers so they fall into the realistic 8,000–50,000 range.\n- If only one price is found for a crop, set both min_price and max_price to that value.\n- If a range is given (e.g. \"من 13000 إلى 13500\"), use both values.\n- If min_price > max_price, swap them.\n- If no valid crop prices are found, return:\n  { \"confidence\": 0, \"has_prices\": false, \"data\": [] }\n\nOnly return valid JSON. Do not include explanations or extra text.\n\nText:\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -144,
        32
      ],
      "id": "65729c33-6157-4763-820d-6aa69be6986c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        272
      ],
      "id": "ffedaa97-8507-44f5-80f5-099302025d3c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nitFK8UAc55BTch7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the text output from AI node\nconst raw = $input.first().json.text || \"\";\n\n// Remove ```json and ``` if they exist\nconst cleaned = raw.replace(/```json|```/g, \"\").trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(cleaned) || {};\n} catch (e) {\n  parsed = { confidence: 0, has_prices: false, data: [] };\n}\n\n// Return the parsed object\nreturn { ...parsed };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        32
      ],
      "id": "1bdcfbdb-ba84-4fba-8b8c-48ca917a7367",
      "name": "Map Gemini output to JSON"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        32
      ],
      "id": "56958619-b88e-49e9-a03b-9e354f92a08e",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "text": "اهلا بكم بفيديو جديد على قناه الزراعه الحديثه اللي بقوله النهارده يا جماعه مش مجرد اسعار مطبوعه على ورق دي ارقام جايه من ارض الواقع من المخازن من التجار والمزارعين من حركه البيع والشراء اللي بتحصل كل يوم في السوق وعايزك وانت بتسمعني ما تفكرش بس كمتفرج على اليوتيوب بفكر كواحد موجود في اللعبه دي لان اللي فاهم اللعبه هو دايما باذن الله اللي بيكسب السوق يا جماعه الايام دي زي ملعب كوره كله بيجري وراء الكوره ومش كل الناس فاهمه هي رايحه على فين كل يوم بنسمع رقم جديد الذره نزلت 300 الصويا طلعت 500 الرز طفره مره واحده في اخر اليوم والاسعار رفعت وده بيخلي الناس اللي مش متابعه تتلخبط وتخاف واللي بيتصرف بعشوائيه طبعا بيخسر الحقيقه بقى ان الاسعار عمرها ما بتيجي صدفه ورا كل رقم قصه كبيره الذره لو جينا نشوف البرازيل النهارده هنلاقي ب 12600 جنيه والاوكراني ب 12400 جنيه في فرق بسيط بين البرازيل والاوكرانيا النهارده في السعر بس وراء فرق كبير جدا في الجوده والشحن والتوقيت في ناس بتفضل الدولار الاوكراني لانه ارخصه في اللي شايف البرازيلي اضمن اما الرز بقى الوضع مختلف شويه الطلب الكبير من المخزن خلاه يرفع الايام اللي فاتت الاسعار رفعت مره واحده واللي كان قاعد سايب رزه في المخزن لقى نفسه باذن الله كسبان بس في نفس الوقت في ناس كانت عامله حسابها على موسم جديد خزون رز شعير قديم على 14000 جنيه على امل يبيعه ب 15000 مع بدايه الموسم وفجاه السوق اتقلب عليهم بالنسبه للذره ولعبه الاعصاب الذره بقى هي كلمه السر في السوق كله واقف يتفرج على الذره كانها كده مؤشر للبورصه وكل مستني السعر ينزل ل 12800 علشان يشتري بس الحقيقه ان اللحظه اللي بينزل فيها الرقم ده الزحمه بتولع المخازن بتتسد والسوق بيقفل قبل ما تلحق تضحن اللي فاهم السوق مش لازم يستنى ارخص نقطه لان السوق غدار ساعات بتستنى نزله صغيره بس بيجي خبر عن شحنه اتاخرت او ازمه في المينا فتلاقي السعر علي فجاه من 500 ل 700 جنيه في يوم واحد كان في تاجر عرفه كان مستنى الدوره تنزل للرقم اللي في دماغه وفضل يماطر وفي الاخر السعر طلع فجاه وهو اضطر يشتري غالي واللي كان شاري من بدري حتى لو مش ارخص في السعر بس هو اللي كسب النهارده الصويا بقى وده ملك اللعبه الصويا مش بس خانه عاديه دي بقى العصب الاساسي للعلف وزيوت النهارده الصويا المستورد ب 21500 جنيه وبذر الصويا ما بين 21200 ل 21500 جنيه ارقام كبيره بس وراها حركات ضخمه في اي وقت بيحصل تاخر في استرات شحنه سويا من امريكا والبرازيل السوق بيولع فورا والتجار اللي معاها مخزون بتلاقي نفسها كسبت من غير ما تعمل اي حاجه واللي سايب السوق على الله بيتزنع كمان كوز بفور الصويا ليه دور كبير النهارده المحلي ب 18800 ل 19800 على حسب نسبه البروتين الفرق فيه النسبه بيعمل فرق في السعر بس الاهم الطلب عليه عالي جدا من مصانع الاعلاف بالنسبه بقى اللعبه اللي قلبت الترابيزه في الرز الرز السنه دي قصه لوحده الطلب الكبير من المخزن خلى السوق يرفع شويه في يوم وليله النهارده الرز الشعير العريض من 16000 ل 16100 والرز الشعير الرفيع النهارده من 13000 ل 13300 الغريب ان ناس كتير خزنوا رز شعير قديم من بدري على امل يبيعوه باعلى سعر بس اتفاجوا ان الموسم اتقلب عليهم وده بيورينا درس مهم جدا مش كل رهان طبعا بيكسب اللي فاهم ان الرزو مرتبط بسياسه الدوله والطلب الرسمي عارف ان اي تحرك من المخزنين ممكن يغير السوق كله وده بالفعل اللي حصل الطفره او ارتفاع الاسعار ديت كانت راجعه لتدخل المخزن بالنسبه بقى لاسعار الرز الابيض العريض من ارض المضرب البضايع العاليه المخدومه كويس زيت والخارسروتيكس بيتراوح سعر الطن من 25000 جنيه ب 25200 جنيه اما سعر رز غبيض الرفيع من ارض المضرب البضائيه العاليه المخدومه كويس زيت وبخارشرتكس شكاره كمبيوتر من 200000 جنيه ل 20200 جنيه للطن طبعا الاسعار بتختلف من مضرب للثاني ومن مكان لاخر وعلى حسب التاجر وطريقه السداد بتاعه البضاعه وجوده البضاعه نفسها وطبعا اعمال التحميل والتعيق والنقل والهامش الربح اللي بيحققه التاكر بالنسبه بقى للقمح النهارده القمح 14100 جنيه تقريبا وده رقم مهم جدا لانه مرتبط برغيف العيش اي تحرك في القمح بياثر على السوق كله والموازنه العامه للدوله مش بس رغيف العيش المدعوم لا كمان المخبوزات والمطاحن التاجر النهارده الناصح اللي بيتابع اخبار القمح العالمي عارف ان اي ازمه في اوكرانيا او روسيا بتترجم هنا في مصر مباشره لاننا معتمدين بشكل كبير جدا على استيراد القمح. بالنسبه بقى للزيوت زيوت الصويا الخام 51000 جنيه والمقرر 55000 جنيه ارقام كبيره بس الناس ساعات ما بتركزش فيها زي ما بتركز في الحبوب مع ان الزيوت دي مرتبطه بالاكل اليومي للناس اي تحرك في اسعار الزيوت العالميه بينعكس هنا بسرعه جدا واكث ناس بيستفيدوا هم اللي مخزنين بدري بالنسبه بقى لعقليه السوق والخوف والطمع السوق يا جماعه مش بس ارقام السوق نفسيه الخوف النهارده بيخلي التاجر يبيع بخساره والطمع بيخليه يستنى لحد ما يخسر اكت اللي حصل في الرز الشعير ده كان اكبر دليل ناس خزنوا على امل يكسبوا بس الطمع خلاهم يستنوا زياده وفي الاخر السوق للاسف خزلهم واللي حصل في الذره برده نفس القصه الكل كان مستني السعر ينزل لكن السوق غضان نصائح بقى عمليه للتجار والمزارعين ما تستناش ارخص سعر خليك دايما في النص تكسب وتتحرك بسرعه وتدور مالك دوره راس مال سريعه تابع الاخبار العالميه واي ازمه في اوكرانيا او البرازيل او امريكا اتاكد ان هي هتاثر علينا هنا في مصر ما تخزنش على امل الزياده خزن بحساب السوق مش بيرحم اللي بياخد قرارات متاخره في النهايه كده السوق النهارده مش لعبه حظ، السوق لعبه حسابات وصبر وذكاء اللي يعرف يقرا الارقام ويتحرك صح هو ان شاء الله اللي هيكسب واللي ماشي ورا بقى الاشاعات على السوشيال ميديا او الفيسبوك وخلافه او الطمع او الخوف هو للاسف اللي بيخسر الذره والصويا والرز والقمح والزيوت دول كلهم سلعه فيها قصص وليها توقيت بس القاعده الذهبيه واحده افهم السوق قبل ما تتحرك انا عارف ان الكلام ده ممكن يبانقيل عليكم بس صدقني هو ده اللي بيخلي تاجر ينجح وتاجر يفشل السوق غدار لكن اللي عارف اسرار السوق هو ان شاء الله اللي عمره ما هيغرق والسلام عليكم ورحمه الله وبركاته ‏Ok."
        }
      }
    ]
  },
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Map Gemini output to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78dfba4f-68ae-40ce-b45b-9352fc14ee9a",
  "meta": {
    "instanceId": "e0610107ac554f59b63883651795eb0400bfcc59bc18a9994fa27c06a3158c7b"
  },
  "id": "WuXViPjpfbejoAQ2",
  "tags": []
}