n8n/workflows/Youtube Source Handler.json
{
  "name": "Youtube Source Handler",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "source",
              "type": "object"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -224,
        720
      ]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.source.chanel_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        32,
        720
      ],
      "id": "7e621e45-6b83-4bdd-a83b-74dcc078cd8e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('When Executed by Another Workflow').item.json.source;\nconst video = $input.item.json;\n\nreturn {\n  \"source\": source,\n  \"video\": video\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        720
      ],
      "id": "b3ab81a2-5bf2-43a0-8683-a19c78396f1b",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zT5Wr9Iv9XAin0dh",
          "mode": "list",
          "cachedResultName": "Youtube Video Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "video": "={{ $json.video }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        720
      ],
      "id": "8cfff766-9198-458e-87d0-101c0e6291ff",
      "name": "Youtube Video Handler"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Youtube Video Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Video Handler": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6642c58-6982-4a47-93e4-4cf69c1bed3f",
  "meta": {
    "instanceId": "e0610107ac554f59b63883651795eb0400bfcc59bc18a9994fa27c06a3158c7b"
  },
  "id": "sjcRI9AsSBJtsmPr",
  "tags": []
}